@import '~styles/css/color';

.slide-up-wrapper {
  transition: all .75s ease;
  opacity: 0;
}

.slide-up-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-up-enter-done {
  opacity: 1;
  transform: translateY(0);
}

.slide-up-exit {
  opacity: 0;
  transform: translateY(-50px);
}

.slide-up-exit-done {
  opacity: 0;
}