@import '~styles/css/color';

.content-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 30px;
   margin-top: -50px;
}

.grid {
   display: flex;
   flex-direction: column;
   border: 1px solid rgba(0,0,0,0.2);
   padding: 15px;
   p {
      margin: 15px 0 0 0;
   }
   h2 {
      margin: 0;
      font-weight: normal;
   }
}

.wrapper-title {
   display: flex;
   justify-content: space-between;
}

@media (max-width: 960px) {
   .content-grid {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 480px) {
   .content-grid {
      grid-template-columns: 1fr
   }
}