@import 'color';

.btn {
   border: none;
   font-size: 14px;
   letter-spacing: 3px;
   transition: .25s all ease;
   &.btn-common {
      background: $transparent;
      color: $color-white;
      border: 1px solid $color-white;
      &:hover {
         background: $color-white;
         color: $transparent;
         border: 5px solid $color-white;
      }
   }
}